@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /* My custom variables */
    --sora: 'Sora', sans-serif;

    --my-primary: #283aff;
    --my-secondary: #0A1264;
    --my-accent: #E3EBFF;
    --my-background-100: #F3F3FC;
    --my-background-200: #F3F2F2;
    --my-secondary-glass: rgba(10, 18, 100, 0.1);
    --my-glass: rgba(255, 255, 255, 0.5);
    --my-photo-background: #F0F0F0;
    --my-ripple: black;
    --my-matrix-background-color: rgba(255, 255, 255, 0.1);
    --my-go-up1: #0A1264;
    --my-go-up2: #283aff;
    --my-appwrite: #fd366e;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);

    /* My custom variables */
    --my-accent: #0E0C1C;
    --my-background-100: #070915;
    --my-background-200: #050509;
    --my-secondary-glass: rgba(10, 18, 100, 0.25);
    --my-glass: rgba(7, 9, 21, 0.5);
    --my-photo-background: #0F0F0F;
    --my-ripple: white;
    --my-matrix-background-color: rgba(7, 9, 21, 0.1);
    --my-go-up1: #283aff;
    --my-go-up2: #0A1264;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --animate-caret-blink: caret-blink 1.25s ease-out infinite;
    @keyframes caret-blink {

        0%,
        70%,
        100% {
            opacity: 1;
        }

        20%,
        50% {
            opacity: 0;
        }
    }

    --animate-ripple-text: ripple-text 2s ease infinite;
    @keyframes ripple-text {
        0% {
            -webkit-transform: translate3D(0, 0, 0) scale(1) rotateY(0);
            transform: translate3D(0, 0, 0) scale(1) rotateY(0);
        }

        15% {
            -webkit-transform: translate3D(2px, -2px, 2px) scale(1.2);
            transform: translate3D(2px, -2px, 2px) scale(1.2);
            color: var(--color-my-ripple);
        }

        30% {
            -webkit-transform: translate3D(0, 0, 0) scale(1);
            transform: translate3D(0, 0, 0) scale(1);
        }
    }

    --animate-gradient-text: gradient-text 3s linear infinite;
    @keyframes gradient-text {
        0% {
            background-position: 200% 50%;
        }

        100% {
            background-position: 100% 50%;
        }
    }

    --animate-fade-in-left: fade-in-left 1s ease both;
    @keyframes fade-in-left {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    --animate-fade-in-right: fade-in-right 1s ease both;
    @keyframes fade-in-right {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    --animate-fade-in-up: fade-in-up 1s ease both;
    @keyframes fade-in-up {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    --animate-flip-in-y: flip-in-y 2.5s ease both;
    @keyframes flip-in-y {
        from {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
        }

        40% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }

        60% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            opacity: 1;
        }

        80% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }

        to {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }

    /* My custom variables */
    --breakpoint-*: initial;
    --breakpoint-5xl: 1400px;
    --breakpoint-4xl: 1200px;
    --breakpoint-3xl: 1000px;
    --breakpoint-2xl: 830px;
    --breakpoint-xl: 720px;
    --breakpoint-lg: 575px;
    --breakpoint-md: 450px;
    --breakpoint-sm: 390px;

    --font-sora: var(--sora);

    --color-my-primary: var(--my-primary);
    --color-my-secondary: var(--my-secondary);
    --color-my-accent: var(--my-accent);
    --color-my-background-100: var(--my-background-100);
    --color-my-background-200: var(--my-background-200);
    --color-my-secondary-glass: var(--my-secondary-glass);
    --color-my-glass: var(--my-glass);
    --color-my-photo-background: var(--my-photo-background);
    --color-my-ripple: var(--my-ripple);
    --color-my-matrix-background-color: var(--my-matrix-background-color);
    --color-my-go-up1: var(--my-go-up1);
    --color-my-go-up2: var(--my-go-up2);
    --color-my-appwrite: var(--my-appwrite);
}

@layer base {
    * {
        @apply border-border outline-ring/50 box-border;
        scrollbar-width: thin;
        scrollbar-color: var(--color-my-primary) var(--color-my-secondary);
    }

    body {
        @apply bg-my-background-100 text-foreground font-sora text-xl;
    }
}

@layer components {
    .responsive-container {
        @apply m-auto w-[1320px] max-5xl:w-[1140px] max-4xl:w-[960px] max-3xl:w-[800px] max-2xl:w-[700px] max-xl:w-[540px] max-lg:w-full max-lg:px-3;
    }

    .text-gradient {
        @apply bg-[linear-gradient(to_right,var(--my-primary),var(--my-secondary),var(--my-primary),var(--my-secondary),var(--my-primary))] dark:bg-[linear-gradient(to_right,var(--my-primary),white,var(--my-primary),white,var(--my-primary))] bg-[length:200%] bg-clip-text text-transparent animate-gradient-text;
    }

    .section-title {
        @apply font-bold text-4xl bg-[linear-gradient(to_right,var(--my-primary),var(--my-secondary),var(--my-primary),var(--my-secondary),var(--my-primary))] dark:bg-[linear-gradient(to_right,var(--my-primary),white,var(--my-primary),white,var(--my-primary))] bg-[length:200%] bg-clip-text text-transparent animate-gradient-text;
    }

    .outline-button {
        @apply flex items-center justify-center gap-1 border border-my-primary text-my-primary text-base bg-transparent rounded-full cursor-pointer hover:bg-my-primary hover:text-white transition-all duration-300;
    }

    .filled-button {
        @apply text-white text-base font-bold rounded-full bg-[length:200%] bg-gradient-to-r from-my-primary from-0% via-my-secondary via-50% to-my-primary to-100% cursor-pointer hover:bg-[-100%] transition-all duration-400;
    }

    .hero-glow1 {
        @apply relative before:content-[""] before:absolute before:top-0 before:right-0 before:w-[320px] before:h-[320px] before:rounded-full before:blur-[150px] before:mt-[-5%] before:-z-10 before:bg-my-primary;
    }

    .hero-glow2 {
        @apply relative before:content-[""] before:absolute before:bottom-0 before:left-0 before:w-[220px] before:h-[220px] before:rounded-full before:blur-[150px] before:ms-[-5%] before:-z-10 before:bg-my-primary;
    }

    .nav-selected-btn {
        @apply relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-full after:bg-linear-to-r after:from-my-primary after:to-my-secondary cursor-pointer;
    }

    .nav-hover-btn {
        @apply relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-linear-to-r after:from-my-primary after:to-my-secondary after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 cursor-pointer;
    }

    .otp-slot {
        @apply !text-4xl !rounded-xl bg-blue-200 dark:bg-blue-950 !ring-my-primary !justify-center !flex !border-2 !border-my-primary !size-12 md:!size-16 !gap-5;
    }

    .active-menu-trigger {
        @apply !text-white !bg-my-primary;
    }

    .form-input {
        @apply mb-4 py-3 px-5 bg-my-background-200 border rounded-md text-base outline-none focus:border-my-primary transition-all duration-300;
    }

    .breadcrumbs-hover-link {
        @apply relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-white after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 cursor-pointer;
    }

    .animated-hover-link {
        @apply relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-black dark:after:bg-white after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 cursor-pointer;
    }
}