@import "tailwindcss";

@layer base {
    * {
        @apply box-border;
    }

    body {
        @apply font-sora text-xl bg-dark-mode-100;
    }
}

@theme {
    --font-sora: var(--font-sora);

    --color-primary: #283aff;
    --color-secondary: #0A1264;

    --color-dark-mode-100: #070915;
    --color-dark-mode-200: #050509;

    --color-dark-photo-bg: #0F0F0F;


    

    /* --breakpoint-xs: 480px;

    --background-image-hero-pattern: url("/hero-bg.png"); */
}

@layer components {
    .text-gradient-light {
        @apply bg-linear-to-r from-[#283aff] to-[#0A1264] bg-clip-text text-transparent;
    }

    .text-gradient-dark {
        @apply bg-linear-to-r from-[#283aff] to-[#ffffff] bg-clip-text text-transparent;
    }

    .outline-button {
        @apply flex items-center justify-center gap-1 border border-primary text-primary text-base bg-transparent rounded-full cursor-pointer hover:bg-primary hover:text-white transition-all duration-300;
    }
}